/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Futura;
    font-size: 16px;
}

.jumbotron{
    background-color: #FC5129;
/*    padding-top: 60px;*/
}


.hero h1 {
    font-size: 6em;
    color: #FDD692;
    padding-bottom: 10px;
}

.hero p {
    font-weight: 300;
    font-size: 1.5em;
    color: #FDE9C5;
    padding-bottom: 25px;
}

.btn {
    background-color: #FDE9C5;
    border: none;
    color: #FC5129;
    box-shadow: 2px 2px 2px #FC512980;
}

.btn:hover {
    background-color: #475AA5;
    color: #FFF;
}

.btn-primary {
    box-shadow: 5px 5px 2px #B23317;
}

