:root {
    --peachy: #fdd692;
    --birdorange: #fc5117;
    --egg: #f9f4ed;
    --bluegrandma: #475aa5;
    --denim: #344279;
}
    
body { 
    padding-top: 0px; 
    min-height: 1800px;
    background-color: var(--egg);
    font-family: Futura;
}

h2 {
    color: var(--denim);
}

h3 {
    color: var(--denim);
    line-height: 140%;
    margin-top: 15px;
}

h4 {
    line-height: 150%;
    font-size: 18px;
    color: var(--peachy);
}

h6 {
    font-size: 15px;
    color: var(--bluegrandma);
}

.hero {
    padding-top: 25px;
}

.til-date {
    background-color: white;
    padding: 5px 20px 5px 80px;
    margin-left: -80px;
    border-radius: 0px 15px 15px 0px;
    line-height: 200%;
}

p {
    color: var(--denim);
}

.navbar-default {
    background-color: var(--birdorange);
    border: none;
    margin-bottom: 0;
    border-radius: 0px;
    box-sizing: border-box;
    
/*
    & .navbar-brand {
        display: inline-block;
        background-color: #FC5129;
        position: relative;
        width: 40px;
    }
*/
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    background-color: var(--peachy) !important;
    color: var(--birdorange);
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav li a:hover {
    background-color: var(--peachy) !important;
    color: var(--birdorange);
    border-bottom: inset 5px var(--peachy); 
    box-shadow: 0px 5px var(--birdorange);
}

.active a {
    color: var(--peachy) !important;
    background-color: var(--birdorange) !important;
    border-bottom: inset 5px var(--peachy);
}

.active a:hover {
    background-color: var(--peachy) !important;
    color: var(--birdorange) !important;
    border-bottom: inset 5px var(--peachy); 
    box-shadow: 0px 5px var(--birdorange);
}

.jumbotron {
    height: 70vh;
}

.btnprimary {
    color: var(--egg);
}

.project {
    padding: 60px 40px; 
}

/* TIL Today I Learned Page */

.til {
    padding-top: 60px;
    padding-bottom: 30px;
}

.til h1 {
        color: var(--bluegrandma);
}

.well {
    padding: 30px 80px 50px;
    background-color: #fdd69270;
    border: solid 3px #475aa5;
    border-radius: 10px;
}

.well a {
    color: var(--birdorange);
/*    text-decoration: underline;*/
    border-bottom: dashed 3px;
}

.well a:hover {
    text-decoration: none;
    font-style: italic;   
}

