:root {
    --peachy: #fdd692;
    --birdorange: #fc5117;
    --egg: #f9f4ed;
    --bluegrandma: #475aa5;
    --denim: #344279;
}

/*
html {
    scroll-behavior: smooth;
}
*/
    
body { 
    padding-top: 0px; 
    min-height: 1800px;
    background-color: var(--egg);
    font-family: Futura;
}

.hero h1 {
    font-size: 6em;
    color: #FDD692;
    padding-bottom: 10px;
}

h2 {
    color: var(--denim);
}

h3 {
    color: var(--denim);
    line-height: 140%;
    margin-top: 15px;
}

h4 {
    line-height: 150%;
    font-size: 18px;
    color: var(--peachy);
}

h6 {
    font-size: 15px;
    color: var(--bluegrandma);
}

p {
    color: var(--denim);
}

.til-date {
    background-color: white;
    padding: 5px 20px 5px 80px;
    margin-left: -80px;
    border-radius: 0px 15px 15px 0px;
    line-height: 200%;
}

@media (max-width: 767px) {
    .hero h1 {
        font-size: 4em;
        color: var(--peachy);
    }
}



/* ~~~~~~~~~~~~~~~~~~~~~ START NAV STYLES ~~~~~~~~~~~~~~~~~~~~ */

.navbar-default {
    background-color: var(--birdorange);
    border: none;
    margin-bottom: 0;
    border-radius: 0px;
    box-sizing: border-box;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    background-color: var(--peachy) !important;
    color: var(--birdorange);
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar-default .navbar-nav li a:hover {
    background-color: var(--peachy) !important;
    color: var(--birdorange);
    border-bottom: inset 5px var(--peachy); 
    box-shadow: 0px 5px var(--birdorange);
}

.active a {
    color: var(--peachy) !important;
    background-color: var(--birdorange) !important;
    border-bottom: inset 5px var(--peachy);
}

.active a:hover {
    background-color: var(--peachy) !important;
    color: var(--birdorange) !important;
    border-bottom: inset 5px var(--peachy); 
    box-shadow: 0px 5px var(--birdorange);
}

.navbar-default .navbar-toggle {
    border: solid 2px white;
    background-color: var(--peachy);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--birdorange);
}

.navbar-default .navbar-toggle:hover {
    background-color: var(--bluegrandma);
}


/* ~~~~~~~~~~~~~~~~~~~~~ END NAV STYLES ~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 992px) {
    .jumbotron {
        height: 70vh;
    }
    
    .hero {
        padding-top: 25px;
    }
}

.btnprimary {
    color: var(--egg);
}

.project {
    padding: 60px 30px;
}

.project-card {
    background-color: white;
    padding: 30px;
    border: solid 5px var(--bluegrandma); 
    border-radius: 0px 15px;
}

.project-card img {
    border-bottom: solid 5px var(--bluegrandma);
    border-radius: 5px 5px 0 0;
    box-shadow: 3px 5px 0 0 var(--egg), -3px -3px 0 0 var(--egg);
}

.browser img {
    border: solid 5px var(--egg);
    border-top: solid 10px var(--bluegrandma);
    border-radius: 10px 10px 2px 2px;
}

.project .ping {
    color: var(--birdorange);
    font-weight: 600;
}

.project .blurb {
    padding-bottom: 10px;
}

.project .btn {
    background-color: var(--peachy);
    color: var(--birdorange);
    border: solid 2px red;
    width: 40%;
    min-width: 150px;
    font-size: 18px;
}

.project .btn:hover {
    background-color: var(--denim);
    color: var(--egg);
/*    box-shadow: -2px -2px var(--birdorange);*/
    box-shadow: 8px 8px var(--peachy);
    border: solid 2px var(--birdorange);
    cursor: e-resize;
}

/* TIL Today I Learned Page */

.til {
    padding-top: 60px;
    padding-bottom: 30px;
}

.til h1 {
        color: var(--denim);
}

.well {
    padding: 30px 80px 50px;
    background-color: #fdd69270;
    border: solid 3px #475aa5;
    border-radius: 10px;
}

.well a {
    color: var(--birdorange);
/*    text-decoration: underline;*/
    border-bottom: dashed 3px;
}

.well a:hover {
    text-decoration: none;
    font-style: italic;   
}




.footer {
/*    position: relative;*/
}
footer .madebyme {
    display: inline-block;
}

footer .madebyme p {
    margin-bottom: 5px;
}

footer .madebyme a {
    background-color: var(--peachy);
    color: var(--denim);
    padding: 2px 15px;
}

footer .madebyme a:hover {
    text-decoration: none;
    border-bottom: solid 5px var(--birdorange);
    font-weight: 400;
}

footer .copyright {
/*    display: inline-block;*/
/*    position: relative;*/
    float: right;
}