:root {
    --peachy: #fdd692;
    --birdorange: #fc5117;
    --egg: #f9f4ed;
    --bluegrandma: #475aa5;
    --denim: #344279;
}

/*
html {
    scroll-behavior: smooth;
}
*/
    
body { 
    padding-top: 0px; 
    min-height: 1800px;
    background-color: var(--egg);
    font-family: Futura;
}

h1 {
    font-size: 6em;
    padding-bottom: 10px;
    color: var(--denim);
    line-height: 100px;
}

.hero h1 {
    color: var(--peachy);
}

h2 {
    color: var(--denim);
}

h3 {
    color: var(--denim);
    line-height: 140%;
    margin-top: 15px;
}

h4 {
    line-height: 150%;
    font-size: 18px;
    color: var(--peachy);
}

h6 {
    font-size: 15px;
    color: var(--bluegrandma);
}

p {
    color: var(--denim);
}

@media (max-width: 767px) {
    h1 {
        font-size: 5em;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    p {
        font-size: 1.2em;
    }
}



/* ~~~~~~~~~~~~~~~~~~~~~ START NAV STYLES ~~~~~~~~~~~~~~~~~~~~ */

.navbar-default {
    background-color: var(--birdorange);
    border: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    box-shadow: 0px 2.5px var(--peachy);
}

nav .container-fluid {
    margin: 5px 10px 0px 10px;
}

.navbar-default .navbar-brand {
    color: white;
    line-height: 20px;
}

.navbar-default .navbar-brand:hover {
/*    NEED TO WORK THIS */
/*    background-color: var(--peachy) !important;*/
    color: var(--peachy);
    border-bottom: inset 5px var(--bluegrandma); 
    box-shadow: 0px 5px var(--bluegrandma);
}

.navbar-default .navbar-nav li a {
    color: white;
    border-bottom: inset 5px var(--birdorange);
}

.navbar-default .navbar-nav li a:visited {
    color: white;
}

.navbar-default .navbar-nav li a:hover {
/*    background-color: var(--peachy) !important;*/
    color: var(--peachy);
    border-bottom: inset 5px var(--bluegrandma) !important; 
    box-shadow: 0px 5px var(--bluegrandma);
}

.navbar-default .navbar-nav li a:active {
    color: var(--peachy);
}

.currentpage a:hover {
/*    background-color: var(--peachy) !important;*/
    color: white !important;
    border-bottom: inset 5px var(--bluegrandma); 
    box-shadow: 0px 5px var(--bluegrandma);
}

.currentpage a {
    color: var(--peachy) !important;
    background-color: var(--birdorange) !important;
    border-bottom: inset 5px var(--peachy) !important;
    box-shadow: 0px 5px var(--peachy);
}

.navbar-default .navbar-toggle {
    border: solid 2px white;
    background-color: var(--peachy);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--birdorange);
}

.navbar-default .navbar-toggle:hover {
    background-color: var(--bluegrandma);
}


/* ~~~~~~~~~~~~~~~~~~~~~ END NAV STYLES ~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 992px) {
    .jumbotron {
        height: 70vh;
    }
    
    .hero {
        padding-top: 25px;
    }
}

.project {
    padding: 60px 30px;
}

.project-card {
    background-color: white;
    padding: 30px;
    border: solid 5px var(--bluegrandma); 
    border-radius: 0px 15px;
}

.project-card img {
    border-bottom: solid 5px var(--bluegrandma);
    border-radius: 5px 5px 0 0;
    box-shadow: 3px 5px 0 0 var(--egg), -3px -3px 0 0 var(--egg);
}

.browser img {
    border: solid 5px var(--egg);
    border-top: solid 10px var(--bluegrandma);
    border-radius: 10px 10px 2px 2px;
}

.project .ping {
    color: var(--birdorange);
    font-weight: 600;
}

.project .blurb {
    padding-bottom: 10px;
}

.project .btn {
    background-color: var(--peachy);
    color: var(--birdorange);
    border: solid 2px red;
    width: 30%;
    min-width: 150px;
    font-size: 18px;
    line-height: 32px;
}

.project .btn:hover {
    background-color: var(--bluegrandma);
    color: white;
/*    box-shadow: -2px -2px var(--birdorange);*/
    box-shadow: 8px 8px var(--peachy);
    border: solid 2px var(--bluegrandma);
    cursor: e-resize;
}

/* ~~~~~~~~~~~~~~~~ TIL Today I Learned Page ~~~~~~~~~~~~~~~ */

.container-fluid {
    margin: 10px;
}

.til .hero {
    padding-top: 0px;
}


.well {
    padding: 20px 30px;
/*    padding: 30px 80px 50px;*/
    background-color: #fdd69270;
    border: solid 3px #475aa5;
    border-radius: 10px;
/*    overflow: scroll;*/
    display: flex;
    flex-direction: row;
}

.well a {
    color: var(--birdorange);
/*    text-decoration: underline;*/
    border-bottom: dashed 3px;
}

.well a:hover {
    text-decoration: none;
    font-style: italic;  
    color: var(--peachy);
    background-color: var(--birdorange);
    padding: 5px 0px 0px 0px;
}

.til-date {
    background-color: white;
    padding: 5px 20px 5px 30px;
    margin-left: -30px;
    border-radius: 0px 15px 15px 0px;
    line-height: 200%;
}

.til-text h4 {
    color: var(--denim);
}

.til-media {
    margin: 30px 0 0 0;
}

.til-media iframe {
/*    position: absolute;*/
    max-height: 400px;
}

.embed-responsive-16by9 {
    padding-bottom: 380px;
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .til {
        padding-top: 60px; 
        padding-bottom: 30px; 
    }
}

@media (min-width: 992px) {
    .til-media {
        margin: 0;
    }
}


/* ~~~~~~~~~~~~~~~~~~~~~ ABOUT PAGE ~~~~~~~~~~~~~~~~~~~~ */

.headshot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headshot img {
    max-width: 350px;
    border-radius: 50%;
    border: solid 5px white;
    box-shadow: 8px 8px var(--white);
    margin-bottom: 30px;
}

.new-section {
    background-color: white;
}


/* ~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~ */

.footer {
/*    position: relative;*/
}
footer .madebyme {
    display: inline-block;
}

footer .madebyme p {
    margin-bottom: 5px;
}

footer .madebyme a {
    background-color: var(--peachy);
    color: var(--denim);
    padding: 2px 15px;
}

footer .madebyme a:hover {
    text-decoration: none;
    border-bottom: solid 5px var(--birdorange);
    font-weight: 400;
}

footer .copyright {
/*    display: inline-block;*/
/*    position: relative;*/
    float: right;
}