body { 
/*    padding-top: 70px; */
}

.jumbotron {
    background: 
        linear-gradient(
          rgba(255, 255, 255, 0.45), 
          rgba(255, 255, 255, 0.95)
        ),
        url(img/gob.png) center no-repeat;
    height: 70vh;
}


nav .navbar-inverse {
    background-color: #fff;
    
}

    & .navbar-brand {
        display: inline-block;
        position: relative;
        width: 40px;
    }